/* Component: Content Card */
/* Not the best implementation as this is the exact same as content card with 
    different color variables*/
.subcontent-card {
    position: relative;
    background-color: var(--color-subcontent);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    scroll-margin-top: 4.5rem; /* Stop scrolling early to keep floating title in view */
}

/* Clear vertical space for the absolute header overlapping the top border */
.subcontent-card .card-content {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem; /* Pushes content down to clear the absolute title box */
}

/* Style the absolute header box aligned to the left */
.subcontent-card .card-title {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    margin-top: 0;
    margin-bottom: 1.5rem;
    
    /* Left-aligned, matching where the circular image/badge would sit */
    left: 1rem; 
    
    color: var(--color-subcontent-primarytext);
    background-color: var(--color-subcontent);
    border: 3px solid var(--color-bg);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.subcontent-card .card-body {
    margin-top: 1.5rem;
    color: var(--color-subcontent-primarytext);
}

.subcontent-card .secondary-list {
    color: var(--color-subcontent-secondarytext);
}

.subcontent-card .primary-list {
    color: var(--color-subcontent-primarytext);
}