<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Base/style-body.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Base/style-color.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Objects/navigation-item.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Objects/simple-card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Objects/grid-fill-item.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Objects/masonry-item.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Objects/badge-item.css') }}">
</head>
<body>
    {% include 'includes/header.html' %}
    
    {% block content %}
    {% endblock %}

    <footer>
        <p>{{ title }} - Views: <strong id="view-count">...</strong></p>
    </footer>

    <script>
        
    </script>
</body>
</html>
