<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Base/style-body.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Base/style-color.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Objects/navigation-item.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Objects/simple-card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Objects/grid-fill-item.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Objects/masonry-item.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Objects/badge-item.css') }}">
</head>
<body>
    {% include 'includes/header.html' %}
    
    {% block content %}
    {% endblock %}

    <footer>
        <p>{{ title }} - Views: <strong id="view-count">...</strong></p>
    </footer>

    <script>
        // This will use the external countapi to count visitor counts
        document.addEventListener("DOMContentLoaded" , () => { // We use event listener because it processes before page load
            const key = "{{ title|lower|replace(' ', '-')|replace('---', '-') }}"; // Gets the title, converts to lowercase, replaces spaces with hyphens to slugify
            const baseURL = "https://visit-count-cufkfpc9fafuhwe0.westus2-01.azurewebsites.net/api/GetVisitorCount?slug=";
            const functionURL = `${baseURL}${key}`;

            fetch(functionURL) // Access the function with built in pattern
                .then(async response => { // Asnyc to let the page load and to enable error log
                    if (!response.ok) { // Bad response
                        const errorDesc = await response.text();
                        throw new Error(`HTTP ${response.status} on visitor count: ${errorDesc || response.statusText}`)
                    }
                    return response.json();
                })
                .then(data => { // The response from the previous .then becomes data here
                    // Update the counter id=view-count
                    const countElement = document.getElementById("view-count");
                    if (countElement) {
                        countElement.innerText = data.views;
                    }
                })
                .catch(error => {
                    // Log errors
                    console.error("Visitor count error:", error)
                    const countElement = document.getElementById("view-count");
                    if (countElement) {
                        countElement.innerText = "Broken :("
                    }
                });
            }
        );
    </script>
</body>
</html>
