{% extends 'default.html' %}

{% block content %}


<div id="team-container">
    <div id="teammate-container">
        <h1 class="teammate-header">cameron</h1>
        <p>-Replace with bio and photo-</p>
    </div>
    <div id="teammate-container">
        <h1 class="teammate-header">jimmy</h1>
        <p>-Replace with bio and photo-</p>
    </div>
    <div id="teammate-container">
        <h1 class="teammate-header">matt</h1>
        <p>-Replace with bio and photo-</p>
    </div>
    <div id="teammate-container">
        <h1 class="teammate-header">zeke</h1>
        <p>-Replace with bio and photo-</p>
    </div>
</div>

{% endblock %}